.icon {
  cursor: pointer;
  z-index: 40;
}

.icon__image {
  -webkit-user-drag: none;
  // margin-bottom: 2px;
  // padding: 2px;
}

.icon--focus {
  .icon__image {
    // margin-bottom: 2px;
    padding: 0px;
    border-radius: 4px;
    border: 2px solid var(--icon-border-color);
  }
  .icon__label {
    background: var(--icon-text-background);
  }
}
