@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 16px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

#web-os-root,
body,
html {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.h-100 {
  height: 100%;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex,
.inline-flex {
  &.justify-content-center {
    justify-content: center;
  }
}

.flex,
.inline-flex {
  &.align-items-center {
    align-items: center;
  }
}

.flex-grow {
  flex-grow: 2;
}

.flex-shrink {
  flex-shrink: 2;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.block {
  display: block;
}

// margins
.mx-2 {
  margin-right: 2px;
  margin-left: 2px;
}

// positions
.p-absolute {
  position: absolute;
}

.image-cover {
  height: 100%;
  width: 100%;
  background-size: cover;
}
